
 <div class="login">
 <ion-content>
     <div class="text-center">	     
       <div class="row text-center">
           <div class="col login_logo ">
              <img src="./img/login-logo.png" class="full-image" />
           </div>
            
      	 </div>
         <p class="login_title">红心品牌商城</p>
      </div>

        <div class="list overflow padding">
            <label class="item item-input">
               <input type="text" name="" placeholder="请输入手机号码" ng-model="login.phone" />
            </label>
            <label class="item item-input">
               <input type="password" name="" placeholder="请输入密码" ng-model="login.pwd" />
            </label>
            <button class="button button-assertive button-block" ng-click="verification()">登录</button>
            <div class="padding">
	            <span class="fl">注册账号</span>
	            <span class="fr">忘记密码</span>
            </div>
        </div>
        <footer class="foot padding">
            <div class="border_bom">
               <span>第三方登录</span>
            </div>
            <div class="row party">
               <div class="col col-33 text-center padding">
                   <img src="./img/login-logo1.png" />
               </div>
               <div class="col col-33 text-center padding">
                   <img src="./img/login-logo2.png" />
               </div>
               <div class="col col-33 text-center padding">
                   <img src="./img/login-logo3.png" />
               </div>
            </div>
        </footer>
        
</ion-content>
	 </div>
