
<ion-nav-view ui-view></ion-nav-view>

<ion-tabs class="pro_deta_footer">
     
		<div class="row text-center">
       <div class="col txt  cursor" ng-click="click('service')">
           <i class="icon ion-ios-chatbubble-outline icon_font"></i>
           <p>客服</p>
       </div>
       <div class="col txt cursor" ng-click="click('collection')">
       		 <i class="icon ion-ios-heart-outline icon_font"></i>
           <p>收藏</p>
       </div>
       <div class="col col-33 cursor pro_shopping">加入购物车</div>
       <div class="col col-33 cursor buy" ng-click="buy_on()">立即购买</div>
		</div>
     
		  
		  
  </ion-tabs>
