
<ion-header-bar align-title="center" class="bar bar-header bar-balanced">
      <button class="button button-icon icon ion-ios-minus-outline"
          ng-click="data.showDelete = !data.showDelete; data.showReorder = false"></button>
     <h1 class="title">购物车<span>(5)</span></h1>

</ion-header-bar>
<ion-content class="margin_bottom shopping">
  

 <ion-list class="list" show-delete="data.showDelete" show-reorder="data.showReorder">
       <ion-item ng-repeat="key in shopping.shopping_product track by $index" 
                  item="item"
                  class="item item-avatar item-remove-animate">
  	      
           	<div class="row">
							<div class="col col-10 text-center"><input type="checkbox"  name="" ng-model="shopping.value[$index]"  class="checkbox" ng-change="che_click(shopping.value[$index],$index)" /></div>
						<div class="col col-90">

						  <div class="row">
	               <div class="col col-25">
	                    <img ng-src="{{key.image}}" class="full-image" />
	               </div>
									
			           <div class="col col-70 overflow">
						          <span class="txt">{{key.name}}</span>
						      
						          <div class="overflow fr padding">
						          <span class="fl pink">&yen;{{key.price}}</span>
						          <span class="fr">{{key.sum}}</span>
						          </div>
						      </div>
								 </div>
					    </div>
           	</div>
          
          <ion-delete-button class="ion-minus-circled" 
                             ng-click="onItemDelete(key,$index)">
          </ion-delete-button>
 
        </ion-item>
      
 </ion-list>
 
 <div class="shopping_color">
  
     <div class="padding"><h3>猜你喜欢</h3></div>
      <div class="row">
		     <div class="col col-33" ng-repeat="item in shopping.recommend_product track by $index" ng-click="click(item.pid)">
		        <div class="padding background_color">
		            <img ng-src="{{item.pimage}}" class="full-image" />
		            <p class="product_text">{{item.goods_name}}</p>
		            <div class="overflow">
		            	<span class="fl pro_img">{{item.market_prices}}</span>
		            	<span class="fr pro_img">{{item.ellipsis}}</span>
		            </div>
		        </div>
		     </div>
		  </div>
   </div>
   
 </div>
 
<div class="overflow padding">
    <div class="fl overflow padding"><input class="fl sum_checkbox" type="checkbox" name="" ng-model="shopping.quanbu" value="{{shopping.quanbu}}" ng-click="jiayu(shopping.quanbu)"  /><span class="fl">全选</span></div>
    <div class="fr overflow">
    <div class="fl shopping_margin_top">合计:<span class="font_size">&yen;{{shopping.sum}}</span></div>
    <div class="button button-bg">结算<span>（{{shopping.sum}}）</span></div>
    </div>
</div>
</ion-content> 


