.returns .returns_bottom{
    border-bottom: 1px solid #ff0255;
    padding: 3px;
}
.returns .order_deta{
	isplay: -webkit-box; 
	white-space: normal;
	-webkit-box-orient;
	text-overflow: ellipsis; 
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	font-size: 12px;
}
.returns .pro_img{
    border: 1px solid #eee;
}
.returns .order_btn{
   margin-top: 3px;
   border-bottom:2px solid #e2e2e2; 
}
.returns .order_btn button{
	min-width: 60px;
	min-height: 0; 
	padding: 0 5px;
	border: 1px solid #000;
	line-height: 20px;
	font-size: 12px;
	border-radius: 4px;
	background: #fff;
}
.returns .returns_img{
   padding: 20px 110px;
}
.returns .returns_txt{
   color:#535253;
}
