<ion-view>
<ion-header-bar class="item-input-inset bar-balanced ">
         <div class="item-input-wrapper light-bg">
             <input type="text" name="" placeholder="搜索" class="" />
             <i class="icon ion-search placeholder-icon"></i>
         </div>
         <button class="button ">
            <i class="icon ion-navicon-round"></i>
         </button>
</ion-header-bar>
<ion-content class="margin_bottom">
     
        <div>
           <img ng-src="{{abvImg[0].ad_code}}" class="full-image" />
        </div>

        <div class="row icon_title text-center">
           <div class="col col-20" ng-repeat="key in home_title track by $index" >
               <img ng-src="{{key.image}}" class="full-image" />
               <p>{{key.name}}</p>
           </div>
        </div>
        
        <div>
        	
            <div>
              <h4 class="text-center col col-100">最新上架</h4>
              <div class="row"> 
	               <div class="col col-33" ng-repeat="item in product.class001" ng-click="click(item.pid)">
	                 <div class="padding product_border">
	                  <img ng-src="{{item.pimage}}" class="full-image" />
	                  <p class="product_text">{{item.goods_name}}</p>
	                  <div class="overflow">
	                  	<span class="fl pink">{{item.market_price}}</span>
	                  	<span class="fr pink">{{item.ellipsis}}</span>
	                  </div>
	                 </div>
	               </div>

	              </div>
            </div>
            <div>
              <h4 class="text-center col col-100">热销爆品</h4>
              <div class="row"> 
	               <div class="col col-33" ng-repeat="item in product.class002" ng-click="click(item.pid)">
	                 <div class="padding product_border">
	                  <img ng-src="{{item.pimage}}" class="full-image" />
	                  <p class="product_text">{{item.goods_name}}</p>
	                  <div class="overflow">
	                  	<span class="fl pink">{{item.market_price}}</span>
	                  	<span class="fr pink">{{item.ellipsis}}</span>
	                  </div>
	                 </div>
	               </div>
	              </div>
            </div>

            <div><img ng-src="{{abvImg[1].ad_code}}" class="full-image" /></div>

            <div>
              <h4 class="text-center col col-100">掌柜推荐</h4>
              <div class="row"> 
	               <div class="col col-33" ng-repeat="item in product.class003" ng-click="click(item.pid)">
	                 <div class="padding product_border">
	                  <img ng-src="{{item.pimage}}" class="full-image" />
	                  <p class="product_text">{{item.goods_name}}</p>
	                  <div class="overflow">
	                  	<span class="fl pink">{{item.market_price}}</span>
	                  	<span class="fr pink">{{item.ellipsis}}</span>
	                  </div>
	                 </div>
	               </div>
	              </div>
            </div>

             <div>
              <h4 class="text-center col col-100">每日优品</h4>
              <div class="row"> 
	               <div class="col col-33" ng-repeat="item in product.class004" ng-click="click(item.pid)">
	                 <div class="padding product_border">
	                  <img ng-src="{{item.pimage}}" class="full-image" />
	                  <p class="product_text">{{item.goods_name}}</p>
	                  <div class="overflow">
	                  	<span class="fl pink">{{item.market_price}}</span>
	                  	<span class="fr pink">{{item.ellipsis}}</span>
	                  </div>
	                 </div>
	               </div>
	              </div>
            </div>
        </div>
   
</div>
</ion-content>
</ion-view>