<ion-slide-box>
     <ion-slide>
         <img src="./img/page1.png" class="full-image" />
     </ion-slide>
     <ion-slide>
         <img src="./img/page2.png" class="full-image" />
     </ion-slide>
     <ion-slide>
         <img src="./img/page3.png" class="full-image" />
     </ion-slide>
     <ion-slide class="enter">
         <img src="./img/page4.png" class="full-image" />
         <img src="./img/page4_img.png" class="page_img" ng-click="click('home')" />
     </ion-slide>
</ion-slide-box>