<div class="order">
	<ion-header-bar class="bar-balanced order_deta_top">
	   <div class="button" ng-click="oPrev()">
	      <i class="icon ion-ios-arrow-left"></i>
	   </div>
	   <h1 class="title">{{title}}</h1>
	   <div class="fr order_right">
	       <div class="button text-left" ng-click="click('seo_order')">
	             <i class="icon ion-ios-search"></i>
	      </div>
	      <div class="button">
	             <i class="icon ion-ios-more-outline"></i>
	      </div>
	      </div>
	</ion-header-bar>
    
    <ion-content class="order_content">
        <div class="row">
	        <div ng-repeat="key in all_order track by $index" class="col col-20 text-center"   ng-class="{'order_border_bottom':$index == aIndex}" ng-click="index_click($index)" >{{key.txt}}</div>
	    </div>
        <ion-slide-box show-pager="false" active-slide="aIndex" >
            <ion-slide>
                 <ion-list class="all_order">
				      <div ng-repeat="key in order_product track by $index">
					       <ion-item class="item-thumbnail-left" ng-click="click('pro_detaLayout.product_deta',key.pid)">
					         <img ng-src="{{key.image}}" class="pro_img" />
					         <div class="row">
					            <div class="col col-67">
						             <h2 class="order_deta">
									          {{key.name}}
										    </h2>
									    </div>
									    <div class="col col-20 text-right">
					               <span class="pink">&yen;{{key.price}}</span>
					               <p>x{{key.sum}}</p>
									    </div>
					         </div>
					       </ion-item>
					       <div class="order_btn text-center">
				            <div class="row">
				                 <div class="col col-20 col-offset-33"><button class="button">查看物流</button></div>
				                 <div class="col col-20"><button class="button">追加评论</button></div>
				                 <div class="col col-20"><button class="button" ng-click="Deleteing(key,key.oid)">删除订单</button></div>
				            </div>
					       </div>
				       </div>
				    </ion-list>
            </ion-slide>
               
            <ion-slide>
              <div class="wait_ship">
	              <div ng-show="order.ship.length > 0 ?  false : true">
					  <div class="row">
				          <div class="col order_img"><img src="./img/22222.png" class="full-image" /></div>
					  </div>
					  <div class="text-center">
					    <h3>您还没有相关订单</h3>
					    <span>可以去看看哪些想买的</span>
					  </div>
				  </div>
				       <div ng-repeat="key in order.ship track by $index" ng-show="order.ship.length > 0 ?  true : false">
						       <ion-item class="item-thumbnail-left" ng-click="click('pro_detaLayout.product_deta',key.pid)">
						         <img ng-src="{{key.image}}" class="pro_img" />
						         <div class="row">
						            <div class="col col-67">
							             <h2 class="order_deta">
										          {{key.name}}
											    </h2>
										    </div>
										    <div class="col col-20 text-right">
						               <span class="pink">&yen;{{key.price}}</span>
						               <p>x{{key.sum}}</p>
										    </div>
						         </div>
						       </ion-item>
						       <div class="order_btn ">
					            <div class="row text-right">
					                 <div class="col"><button class="button" ng-click="Deleteing(key,key.oid)">删除订单</button></div>
					            </div>
						       </div>
			       </div>
					  <div class="wait_payment_label">
				          <div class="wait_payment_line">
				              <span><i class="icon ion-android-favorite line_icon"></i>你可能想买</span>
				          </div>
				          <div class="recommend_pro">
					               </div>
				               <div class="row row-wrap"> 
					               <div class="col col-33" ng-repeat="item in recommend_pro" ng-click="click('pro_detaLayout.product_deta',item.pid)">
					                  <div class="padding product_border">
						                  <img ng-src="{{item.pimage}}" class="full-image" />
									                  <p class="product_text">{{item.goods_name}}</p>
									                  <div class="overflow">
									                  	<span class="fl pink">&yen;{{item.market_price}}</span>
									                  	<span class="fr pink">{{item.ellipsis}}</span>
					                  </div>
					                </div>
					           </div>
				          </div>
					  </div>
			</div>
            </ion-slide>

            <ion-slide>
                 <div class="wait_ship">
	                <div ng-show="order.ship.length > 0 ?  false : true">
					  <div class="row">
				          <div class="col order_img"><img src="./img/22222.png" class="full-image" /></div>
					  </div>
					  <div class="text-center">
					    <h3>您还没有相关订单</h3>
					    <span>可以去看看哪些想买的</span>
					  </div>
					</div>
					 <div ng-repeat="key in order.receiving track by $index" ng-show="order.ship.length > 0 ?  true : false">
						       <ion-item class="item-thumbnail-left" ng-click="click('pro_detaLayout.product_deta',key.pid)">
						         <img ng-src="{{key.image}}" class="pro_img" />
						         <div class="row">
						            <div class="col col-67">
							             <h2 class="order_deta">
										          {{key.name}}
											    </h2>
										    </div>
										    <div class="col col-20 text-right">
						               <span class="pink">&yen;{{key.price}}</span>
						               <p>x{{key.sum}}</p>
										    </div>
						         </div>
						       </ion-item>
						       <div class="order_btn ">
					            <div class="row text-right">
					                 <div class="col"><button class="button" ng-click="Deleteing(key,key.oid)">删除订单</button></div>
					            </div>
						       </div>
			       </div>
					  <div class="wait_payment_label">
				          <div class="wait_payment_line">
				              <span><i class="icon ion-android-favorite line_icon"></i>你可能想买</span>
				          </div>
				          <div class="recommend_pro">
					               </div>
				               <div class="row row-wrap"> 
					               <div class="col col-33" ng-repeat="item in recommend_pro" ng-click="click('pro_detaLayout.product_deta',item.pid)">
					                  <div class="padding product_border">
						                  <img ng-src="{{item.pimage}}" class="full-image" />
									                  <p class="product_text">{{item.goods_name}}</p>
									                  <div class="overflow">
									                  	<span class="fl pink">&yen;{{item.market_price}}</span>
									                  	<span class="fr pink">{{item.ellipsis}}</span>
					                  </div>
					                </div>
					           </div>
				          </div>
					  </div>
				</div>
            </ion-slide>

            <ion-slide>
                 <div class="wait_ship">
			                 <div ng-show="order.ship.length > 0 ?  false : true">
								  <div class="row">
							          <div class="col order_img"><img src="./img/22222.png" class="full-image" /></div>
								  </div>
								  <div class="text-center">
								    <h3>您还没有相关订单</h3>
								    <span>可以去看看哪些想买的</span>
								  </div>
						     </div>

						     <div ng-repeat="key in order.ship track by $index" ng-show="order.ship.length > 0 ?  true : false">
								       <ion-item class="item-thumbnail-left" ng-click="click('pro_detaLayout.product_deta',key.pid)">
								         <img ng-src="{{key.image}}" class="pro_img" />
								         <div class="row">
								            <div class="col col-67">
									             <h2 class="order_deta">
												          {{key.name}}
													    </h2>
												    </div>
												    <div class="col col-20 text-right">
								               <span class="pink">&yen;{{key.price}}</span>
								               <p>x{{key.sum}}</p>
												    </div>
								         </div>
								       </ion-item>
								       <div class="order_btn ">
							            <div class="row text-right">
							                 <div class="col col-20 col-offset-50"><button class="button">查看物流</button></div>
							                 <div class="col col-20"><button class="button" ng-click="Deleteing(key,key.oid)">删除订单</button></div>
							            </div>
								       </div>
					        </div>
								  <div class="wait_payment_label">
							          <div class="wait_payment_line">
							              <span><i class="icon ion-android-favorite line_icon"></i>你可能想买</span>
							          </div>
							          <div class="recommend_pro">
								               </div>
							               <div class="row row-wrap"> 
								               <div class="col col-33" ng-repeat="item in recommend_pro" ng-click="click('pro_detaLayout.product_deta',item.pid)">
								                  <div class="padding product_border">
									                  <img ng-src="{{item.pimage}}" class="full-image" />
									                  <p class="product_text">{{item.goods_name}}</p>
									                  <div class="overflow">
									                  	<span class="fl pink">&yen;{{item.market_price}}</span>
									                  	<span class="fr pink">{{item.ellipsis}}</span>
								                  </div>
								                </div>
								           </div>
							          </div>
								  </div>
				</div>
            </ion-slide>

            <ion-slide>
                <div class="wait_evaluation">
								   
			     <ion-list>
				      <div ng-repeat="key in order.comment track by $index">
					       <ion-item class="item-thumbnail-left" ng-click="click('pro_detaLayout.product_deta',key.pid)">
					         <img ng-src="{{key.image}}" class="pro_img" />
					         <div class="row">
					            <div class="col col-67">
						             <h2 class="order_deta">
									          {{key.name}}
										    </h2>
									    </div>
									    <div class="col col-20 text-right">
					               <span class="pink">&yen;{{key.price}}</span>
					               <p>x{{key.sum}}</p>
									    </div>
					         </div>
					       </ion-item>
					       <div class="order_btn text-center">
				            <div class="row">
				                 <div class="col col-20 col-offset-33"><button class="button">查看物流</button></div>
				                 <div class="col col-20"><button class="button evaluation_btn_bg">追加评论</button></div>
				                 <div class="col col-20"><button class="button" ng-click="Deleteing(key,key.oid)">删除订单</button></div>
				            </div>
					       </div>
				       </div>
			    </ion-list>
			    <div class="wait_payment_label">
			          <div class="wait_payment_line">
			              <span><i class="icon ion-android-favorite line_icon"></i>你可能想买</span>
			          </div>
			   <div class="recommend_pro">
				             
			               <div class="row row-wrap"> 
				               <div class="col col-33" ng-repeat="item in recommend_pro" ng-click="click('pro_detaLayout.product_deta',item.pid)">
				                  <div class="padding product_border">
					                  <img ng-src="{{item.pimage}}" class="full-image" />
				                  <p class="product_text">{{item.goods_name}}</p>
				                  <div class="overflow">
				                  	<span class="fl pink">&yen;{{item.market_price}}</span>
				                  	<span class="fr pink">{{item.ellipsis}}</span>
				                </div>
				           </div>
			          </div>
			</div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</div>