<div class="login">
	     <div class="login_logo">
         	<img src="./img/login-logo.png" class="" />
         	<p>红心品牌商城</p>
         </div>
        <div class="list overflow padding">
            <label class="item item-input">
               <input type="text" name="" placeholder="请输入手机号码" />
            </label>
            <label class="item item-input">
               <input type="text" name="" placeholder="请输入昵称" />
            </label>
            <label class="item item-input">
               <input type="password" name="" placeholder="请输入密码" />
            </label>
            <button class="button button-assertive button-block">注册</button>
           
        </div>
        
	 </div>